.headerContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  background-color: rgb(154, 67, 240);
  padding: 10px;
}
.headerItem {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 4px;
  background-color: rgb(114, 15, 207);
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.headerItem:hover {
  font-size: 18px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
}
.headerItemsWrapper {
  display: flex;
  flex: 1;
  max-width: 1024px;
}
